/**
** Grid Card Section Style
**
**/

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin-bottom: 3rem;
  gap: 3rem;
}

.grid__card {
  position: relative;
  border: 1px solid #eaeaea;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.grid__card:hover {
  transform: scale(1.02);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.grid__card:hover .grid__card_img {
  filter: brightness(70%) saturate(200%);
}

.grid__card:hover .grid__card_paragraph {
  position: absolute;
  opacity: 1;
}

.grid__card_img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.grid__card span {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0.75rem 0;
}

.grid__card_paragraph {
  position: absolute;
  opacity: 0;
  transition: opacity 0.7s ease;
  padding: 1rem;
  line-height: 1.5;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: justify;
}

/**
** Media Query
**
**/

@media (min-width: 450px) {
  .grid__card_paragraph {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .grid {
    width: unset;
  }

  .grid__card {
    width: 40%;
  }

  .grid__card_paragraph {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .grid__card_paragraph {
    font-size: 1.5rem;
    padding: 2rem;
  }
}
